<?xml version="1.0"?>

<launch>

    <!-- Args -->
    <arg name="rosbag_prefix"   default="/svea_ws/src/svea_vision/reprocessed_bags/reprocessed"/>

    <!-- pedestrian state estimation constants -->
    <arg name="max_time_missing"             default="1"/>
    <arg name="vel_filter_window"            default="15"/>
    <arg name="discard_id_threshold"         default="0.5"/>

    <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch"/>
    <!-- Rosbag containing pose and velocity of pedrestian. Ground truth-->
    <!-- <node name="rosbag" pkg="rosbag" type="record" output="screen" args="-o $(arg rosbag_prefix)
        /pedestrian_flow_estimate/pedestrian_flow_estimate_reprocessed
        /pedestrian_flow_estimate/float_2_reprocessed
        /bbox_image
    " /> -->

    <node name="pedestrian_flow_estimate" pkg="svea_vision" type="pedestrian_flow_estimate.py" output="screen">
        <param name="max_time_missing"           value="$(arg max_time_missing)"/>
        <param name="vel_filter_window"          value="$(arg vel_filter_window)"/>
        <param name="discard_id_threshold"       value="$(arg discard_id_threshold)"/>
    </node>

</launch>

