<?xml version="1.0"?>

<launch>

    <!-- Args -->
    <arg name="rosbag_prefix"   default="/home/chunky/Projects/svea/src/svea_vision/velocity_validation"/>

    <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch"/>
    <!-- Rosbag containing pose and velocity of pedrestian. Ground truth-->
    <!-- <node name="rosbag" pkg="rosbag" type="record" output="screen" args="-o $(arg rosbag_prefix)
        /qualisys/pedestrian/pose
        /qualisys/pedestrian/velocity
        /detection_splitter/persons
        /objectmarkers
        /person_state_estimation/person_states
        /person_state_estimation/person_velocity 
    " /> -->

    <node name="pedestrian_flow_estimate" pkg="svea_vision" type="pedestrian_flow_estimate.py" output="screen"/> 
    <!-- <node name="person_state_estimation" pkg="svea_vision" type="person_state_estimation.py" output="screen"/>  -->

</launch>

